p{
	margin: 0px;
}
html,
body {
	margin: 0px;
	height: 100%;
}
a {
	text-decoration: none;
}
li {
    list-style-type: none; 
	list-style-image: url(/img/Vector.svg);
   }
   ul {
    margin-left: 0;
    padding-left: 0; 
   }


header,
.header,
footer,
.footer,
.contener-contener__about-header,
.contener__header {
	background: #74C69D;
}
.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	overflow: hidden;
	

}
.main{
	padding: 5.15em 0em 0em 0em;
}
.content {
	margin: 0px auto 0px auto;
}

@media(max-width:1024px) {
	.content {
		max-width: 850px;
	}
}

@media(max-width: 768px) {
	.content {
		max-width: 520px
	}
}

@media(max-width:425px) {
	.content {
		max-width: 200px;
	}
}

@media(max-width:375px) {
	.content {
		max-width: 150px;
	}
}

@media(max-width:320px) {
	.content {
		max-width: 100px
	}

}

img {
	max-width: 100%;
}

.contener__header, 
.contener__about__header,  
.main-contener, 
/* .contener__footer, */ 
.contener__footer-socnets{
	max-width: 1180px;
}

.contener__header {
	display: flex;
	flex-wrap: wrap;
/* 	position: fixed;
	top: 0;
	overflow: hidden; */
	justify-content: space-between;

	color: #fff;
	margin: 0em auto 0em auto;
	padding: 1em 0em 1em 0em;
	background-color: #74C69D;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }

.start__logo__header {
	align-self: center;
	font-family: 'Work Sans';
	font-size: 40px;
	line-height: 50px;

}

.logo__header {
	max-width: 187px;
	max-height: 50px;
	display: flex;
	justify-content: space-between;
	gap: 5%;
}

.picture__logo__header {
	/* 	padding: 36px 18px 0px 135px; */
	max-width: 100%;
	max-height: 100%;

}



.menu__header a {
	color: #fff;

}

.menu__header {
	font-family: 'Work Sans';
	font-style: normal;
	display: flex;

	flex-direction: row;
	align-items: center;
	gap: 15%;
	justify-content: flex-end;
	max-width: 391px;

}


.about__header h2 {
	font-family: 'Work Sans';
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 5px;
}

.about__header h1 {
	font-family: 'Crimson Text';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
}

.about__header {
	max-width: 416px;
	max-height: 299px;
	margin: 0em auto 2.5em auto;
	
}

.discribe {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 15px;
	line-height: 125%;
}

.contener__about__header {
	display: flex;
	justify-content: space-between;
	margin: 0em auto 2em auto;
	color: #ffff;
	
}

.button__about__header {
	max-width: 170px;
	max-height: 48px;
	color: black;
	background-color: #fff;
	border: none;
	font-family: "Work Sans";
	font-size: 20px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	padding: 14px 47px;
	margin: 25px 0px;
	
}

.main-contener{
	display: flexbox;
	margin: 0em auto 2em auto;
}


.partners, .team__conteiner {
	margin: 0em auto 0em auto;
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
	z-index: 1;
}
.team__conteiner{
	margin: 102.27px auto 0px auto;
}
.team__img{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.team__img img{
	max-width: 100%;
}
.team__img h3{
	font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 125%;

}
.team__img p{
	color: #212529BF;
	font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 125%;
text-transform: uppercase;

}
.titovski, .katz, .sobol, .shulman{
min-width: 279px;
min-height: 299px;
background: #FFFFFF;
box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
border-radius: 5px;

}
.conteiner{
	margin: 20px 39px;
}

.text__patners,
.text__contacts,
.text__portfolio,
.text__services,
.text__team {
	text-align: center;
	
}
.contacts{
	margin: 0em auto 4.2em auto;
}

.title__text__patners,
.title__text__team,
.title__text__portfolio,
.title__text__services {
	font-family: 'Work Sans';
	font-weight: 700;
	font-size: 1em;

	letter-spacing: 5px;
	text-transform: uppercase;
	color: #74C69D;
}

.subtitle__text__partners,
.chat__text__title,
.servises__text__title,
.subtitle__text__team,
.subtitle__text__portfolio,
.subtitle__text__contacts,
.subtitle__text__services {
	font-family: 'Crimson Text';
	font-style: normal;
	color: #000000;
	font-size: 2.5em;
	

}

.p__text__partners,

.p__text__team,
.p__text__portfolio,
.p__text__contacts,
.p__text__services {
	font-family: 'Work Sans';
	font-style: normal;
	font-size: 20px;
	line-height: 125%;
	
}
.chat__text__description,
.servises__text__description{
	color:#21252980;
	font-size: 15px;
	font-family: 'Work Sans';
	line-height: 125%;

}


.sponsors, .team__img {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 55px 0px 0px 0px;


}

.button_partners__conteiner {
	display: flex;
	justify-content: center;
	align-items: center;

}


.button_partners,
.chat__button,
.servises__button,
.button_team,
.button_gallery {
	max-width: 170px;
	max-height: 48px;
	color: #fff;
	background-color: black;
	border: none;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 20px;
	border-radius: 5px;
	margin: 25px auto 0px auto;
	text-align: center;
	display: inline-block;
	padding: 14px 47px;



}
.button_team__conteiner{
	margin: 25px auto 0px auto;

}

.button_partners{
	margin: 55px auto 0px auto;
}
.chat__button, .servises__button {
	margin-left: 0px;
}
.button_gallery__works{
	align-items: center;
	justify-content: center;
	padding: 2em auto 2em auto;
	display: flex;



}

.chat,
.servises {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 73px;
	max-width: 1180;
	max-height: 432px;


}

.servises {
	flex-direction: row-reverse;
}


.chat__text, 
.servises__text{
	display: flex;
	justify-content: space-between;
	gap: 16px;
	flex-direction: column;
}
.chat__text{
	margin: 88px 0px 88px 110px;
}
.servises__text{
	margin: 88px 110px 88px 0px ;
}


.img__chat_img {
	max-width: 600px;
	max-height: 432px;
}

.main_contacts{
	margin: 0em auto 0em auto;
	max-width: 1180px;;
	justify-content: space-between;

}

.form__contacts{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	max-width: 1180px;
	max-height: 385px;
	margin: 0em auto 6em auto;
	
	
}
.form__contacts p{
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 20px;
	margin: 0em auto 1em;

}
.contacts_form__contacts{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0px;
	gap: 1.3em;


}
.input_name__form,
.input_mail__form,
.text_area
{
	width: 575px;
	height: 38px;
	background: #EEEEEE;
	border: 2px solid #000000;
	border-radius: 5px;
}


.form__button{
	color: #fff;
	background-color:  #212529;;
	border: none;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 20px;
	border-radius: 5px;
	width: 575px;
	height: 48px;
}
.map img{
	max-width: 575px;
	max-height: 384px;
}


.works{
 display: flexbox;
 justify-content: space-between;
 margin: 4em auto 5em auto;
}

.gallery{
	max-width: 1187px;
	max-height: 1567px;
	margin: 0em auto 0em auto;
}
.contener__plans{
	margin: 78px auto 0em auto;



}

.contener-contener__plans{
	display: flexbox;
	margin: 0em auto 0em auto;
	max-width: 1227px;
	max-height: 542px;
	
}

.plans{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0em auto 0em auto;
}
.plans ul, .plans li{
	font-family: Work Sans;
	font-weight: 400;
font-size: 15px;
line-height: 125%;
display: inline-flex;
flex-direction: column;
gap: 11px;
text-align: left;

}

.plans p{
	color: #21252980;
	font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 125%;

text-align: left;

}
.title__plans1-basic,
.title__plans2-basic,
.title__plans3-basic{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
text-align: center;
}

.price__plans1-basic,
.price__plans2-basic,
.price__plans3-basic{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 125%;
}
.price2__month{
	color: rgba(33, 37, 41, 0.5);
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	margin: auto 0.3em auto 0.3em;
}

.footer{
	display: flex;
	min-width: 1440px;
	min-height: 125px;

}
.contener__footer-socnets{
	display: flexbox;
	color:#FFFFFF;
	justify-content: space-between;
	max-width: 1180px;
	margin: 0px auto 0px auto;
	
	
}
.socnets__conteiner{
	display: flex;
	margin: 54.5px 0px 54.5px 0px;
	flex-direction: row;
	justify-content: space-between;
	width: 1180px;
	height: 25px;

}
.socnets{
	display: flex;
	justify-content: space-between;	
	min-width: 243px;

}
.footer_p{
	color: #fff;
	font-family: 'Work Sans';
	font-size: 20px;
	width: 326px;
	height: 20px;

}

